* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display";
  text-align: center;
  font-size: 16px;
}

h1, h2 {
  font-family: "DM Serif Display";
  font-weight: 400;
  color: #fafafa;
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

p {
  color: #837d87;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.navbar {
  padding: 1rem 2rem;
}

.nav-list ul {
  float: right;
}

.nav-list li {
  display: inline-block;
  color: #95a9c6;
  margin-left: 1.6rem;
}

.top-image-bg {
  background-image: url("../images/image-intro-mobile.jpg");
  background-size: 100% 100%;
  width: 100%;
}

.top-image img {
  width: 100%;
  visibility: hidden;
}

.top-article {
  padding: 4rem 1rem;
  background: url("../images/bg-pattern-intro-right-mobile.svg") no-repeat, url("../images/bg-pattern-intro-left-mobile.svg") no-repeat, #2d2640;
  background-position: 100% -300%, top left;
}

.button {
  cursor: pointer;
  border: 2px solid #fafafa;
  display: inline-block;
  color: #fafafa;
  padding: 0.5rem 1.5rem;
}

.middle-content {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.middle-content h1, .middle-content h2 {
  color: black;
}

.middle-content header {
  padding: 2rem 0;
}

.middle-content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.middle-article {
  width: 100%;
}

.black-line {
  margin: 0 auto;
  width: 125px;
  height: 1px;
  background-color: #837d87;
}

.bottom-section {
  width: 90%;
  margin: 0 auto;
}

.bottom-content {
  position: relative;
  padding: 5rem 2rem;
  margin-bottom: 8rem;
  background: url("../images/bg-pattern-how-we-work.svg"), #2d2640;
}

.bottom-content h1, .bottom-content h2,
.bottom-content p {
  color: #fafafa;
}

.bottom-content .button {
  margin-top: 2rem;
}

.social-list ul {
  margin: 1rem 0;
}

.social-list li {
  display: inline-block;
  margin: 0 5px;
}

.social-list li i {
  color: #95a9c6;
}

.center-mobile {
  margin: 0 auto;
}

.desktop {
  display: none !important;
}

.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}

.flex-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.flex-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
}

.line-bottom {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px solid #95a9c6;
  margin-bottom: 3rem;
}

footer {
  position: relative;
  font-family: Karla;
  font-weight: 700;
  position: relative;
  background-color: #fafafa;
  padding: 5rem 10%;
}

.footer-image-mobile {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-list {
  margin-bottom: 2rem;
}

.footer-list li:nth-of-type(1) {
  color: #95a9c6;
  margin-bottom: 2rem;
}

.footer-list li {
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 1052px) {
  .left-background {
    position: absolute;
    left: -13%;
    top: -275px;
  }
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none;
  }
  .navbar {
    padding: 1rem 10%;
  }
  .top-article {
    background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat, #2d2640;
    background-position: 100% 200%;
    text-align: left;
    height: 350px;
    padding: 6rem 10%;
  }
  .top-article h1, .top-article h2 {
    font-size: 3rem;
  }
  .top-article img {
    margin-left: 2rem;
    width: 100%;
    max-width: 550px;
  }
  .middle-content {
    padding-top: 12rem;
  }
  .bottom-section {
    width: 80%;
    text-align: left;
  }
  .bottom-section img {
    float: left;
  }
  .black-line {
    margin-right: 100%;
  }
  .vertical-flex-container {
    flex-direction: row;
  }
  .flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .center-mobile {
    margin: 0;
  }
  .bottom-content {
    padding: 4rem 4rem;
  }
  .bottom-content .vertical-flex-container .flex:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .bottom-content .vertical-flex-container .flex:nth-of-type(2) .button {
    margin: 0;
  }
  footer {
    padding: 3rem 10%;
    text-align: left;
  }
  .footer-image-desktop {
    position: absolute;
    top: 0;
    left: 0;
  }
  .footer-header {
    margin-bottom: 2rem;
  }
  .footer-header .flex:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-header .flex:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
