* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display";
}

h1 {
  font-family: Karla;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1052px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
