$white: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display";
  text-align: center;
  font-size: 16px;
}

h1 {
  font-family: "DM Serif Display";
  font-weight: 400;
  color: $white;
  margin-bottom: 1rem;
  font-size: 2.6rem;
}
h2 {
  @extend h1;
  font-size: 2rem;
}

p {
  color: hsl(273, 4%, 51%);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.navbar {
  padding: 1rem 2rem;
}
.top-image-bg {
  background-image: url("../images/image-intro-mobile.jpg");
  background-size: 100% 100%;
  width: 100%;
}
.top-image {
  img {
    width: 100%;
    visibility: hidden;
  }
}

.top-article {
  padding: 4rem 1rem;
  background: url("../images/bg-pattern-intro-right-mobile.svg") no-repeat,
    url("../images/bg-pattern-intro-left-mobile.svg") no-repeat,
    hsl(256, 26%, 20%);
  background-position: 100% -300%, top left;
}

.button {
  cursor: pointer;
  border: 2px solid $white;
  display: inline-block;
  color: $white;
  padding: 0.5rem 1.5rem;
}

.middle-content {
  margin-top: 6rem;
  margin-bottom: 6rem;
  h1 {
    color: black;
  }
  header {
    padding: 2rem 0;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.middle-article {
  width: 100%;
}

.black-line {
  margin: 0 auto;
  width: 125px;
  height: 1px;
  background-color: hsl(273, 4%, 51%);
}

.bottom-section {
  width: 90%;
  margin: 0 auto;
}

.bottom-content {
  padding: 5rem 2rem;
  margin-bottom: 8rem;
  background: url("../images/bg-pattern-how-we-work.svg"), hsl(256, 26%, 20%);
  h1,
  p {
    color: $white;
  }
  .button {
    margin-top: 2rem;
  }
}

.social-list {
  ul {
    margin: 1rem 0;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    i {
      color: hsl(216, 30%, 68%);
    }
  }
}

// Reusable

.desktop {
  display: none;
}

.flex-container {
  display: flex;
}
.flex {
  flex: 1;
}

.flex-left {
  display: flex;
  flex: 1;

  justify-content: flex-start;
  align-items: center;
}

.flex-right {
  display: flex;
  flex: 1;

  justify-content: flex-end;
  align-items: center;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
}

.line-bottom {
  border-bottom: 1px solid hsl(216, 30%, 68%);
  margin-bottom: 3rem;
}

.footer-list {
  margin-bottom: 2rem;
  li:nth-of-type(1) {
    color: hsl(216, 30%, 68%);
    margin-bottom: 2rem;
  }
  li {
    margin-bottom: 0.75rem;
    cursor: pointer;
  }
}
// End of reusable

@media screen and (min-width: 1052px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .top-image-bg {
    background-image: url("../images/image-intro-desktop.jpg");
    background-size: 100% 100%;
    width: 100%;
  }
}
